.gallery{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.midGallery{
    margin-bottom: -30px;
    margin-top: 30px;
}
.galleryElement{
    padding: 20px;
    width: 30%;

    border: 1px solid var(--borderColor);
}